body {
    background-image: url(./IKT/hatter.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#pult{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}